<% provide(:title, 'Edit Item') %>
<h1>Edit Item</h1>

<div class="row">
	<div class="col-md-6 
		col-md-offset-3">
		<%= form_for(@item) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.label :name %>
		<%= f.text_field :name, 
			class: 'form-control' %>

		<%= f.label :description %>
		<%= f.text_area :description,
			class: 'form-control' %>

		<%= f.label :price %>
		<%= f.text_field :price,
			class: 'form-control' %>

		<%= f.submit "Save Changes", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>